* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#311847),
    to(#3eb9e6)
  );
  background-image: -webkit-linear-gradient(top, #311847, #3eb9e6);
  background-image: -moz-linear-gradient(top, #311847, #3eb9e6);
  background-image: linear-gradient(to bottom, #311847, #3eb9e6);
}
.date-box {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.english-date,
.nepali-date {
  color: white;
  font-size: 1.75rem;
  letter-spacing: 2px;
}
.english-time,
.nepali-time {
  color: white;
  font-size: 4.25rem;
  letter-spacing: 2.5px;
}
.english-date {
  padding-top: 5px;
}
.align-right {
  text-align: right;
}
.text-shadow {
  text-shadow: 0 0 25px black;
}
.weather-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation-name: introduction;
  animation-duration: 2s;
}
.row1 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
.weather-summary {
  color: white;
  font-size: 1.75rem;
}

.weather-icon {
  width: 100px;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.row2:hover .temp {
  color: #41a5cf;
}
.row2:hover .temp-type {
  color: white;
}
.temp {
  color: white;
  font-size: 2.6rem;
  cursor: pointer;
  pointer-events: auto;
  transition: color 1s;
}
.temp-type {
  color: #3eb9e6;
  font-size: 2.6rem;
  cursor: pointer;
  transition: color 1s;
}
.weather-alert {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 0.75rem;
  margin-top: 25px;
}
.weather-days {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  color: white;
  font-size: 0.7rem;

  width: 50%;
}
.block1,
.block2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.powered-by {
  color: white;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  font-size: 0.5rem;
}
.powered-by a {
  text-decoration: none;
  color: white;
}
@keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@media screen and (max-width: 1024) {
  body {
    display: none;
  }
  .text-align-right,
  .text-align-center-tab {
    text-align: center;
  }
  .english-date-time {
    padding-top: 50px;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .date-box {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .row1 {
    flex-direction: column;
  }
  .weather-summary {
    font-size: 1.5rem;
  }
  .block1 {
    padding: 20px;
  }
  .block2 {
    padding: 20px;
  }
  .weather-days {
    font-size: 0.9rem;
  }
  .container {
    height: 130vh;
  }
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
