* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
/* body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#311847),
    to(#3eb9e6)
  );
  background-image: -webkit-linear-gradient(top, #311847, #3eb9e6);
  background-image: -moz-linear-gradient(top, #311847, #3eb9e6);
  background-image: linear-gradient(to bottom, #311847, #3eb9e6);
} */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(5, 103, 117);
  background: -moz-linear-gradient(
    0deg,
    rgba(5, 103, 117, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(5, 103, 117, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  background: linear-gradient(
    0deg,
    rgba(5, 103, 117, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#056775",endColorstr="#000000",GradientType=1);
}
.date-box {
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
}
.english-date,
.nepali-date {
  color: white;
  font-size: 1.75rem;
  letter-spacing: 2px;
}
.english-time,
.nepali-time {
  color: white;
  font-size: 4.25rem;
  letter-spacing: 2.5px;
}
.english-date {
  padding-top: 5px;
}
.align-right {
  text-align: right;
}
.text-shadow {
  text-shadow: 0 0 25px black;
}
.weather-box {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation-name: introduction;
  animation-duration: 2s;
}
.row1 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
.weather-summary {
  color: white;
  font-size: 1.75rem;
}

.weather-icon {
  width: 100px;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.row2:hover .temp {
  color: #41a5cf;
}
.row2:hover .temp-type {
  color: white;
}
.temp {
  color: white;
  font-size: 2.6rem;
  cursor: pointer;
  pointer-events: auto;
  transition: color 1s;
}
.temp-type {
  color: #3eb9e6;
  font-size: 2.6rem;
  cursor: pointer;
  transition: color 1s;
}
.weather-alert {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 0.75rem;
  margin-top: 15px;
}
.weather-days {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  color: white;
  font-size: 0.7rem;
  width: 50%;
}
.powered-by {
  color: white;
  padding: 10px;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.powered-by a {
  text-decoration: none;
  color: white;
}
@keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .align-right,
  .align-center-tab {
    text-align: center;
  }
  .date-box {
    flex-direction: column;
    align-items: center;
  }
  .row1 {
    width: 90%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1230px) and (max-width: 1455px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1230px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 25px;
    line-height: 1.5;
  }
  .row1 {
    padding-top: 20px;
    width: 80%;
  }
  .row1 .weather-summary {
    padding-top: 10px;
  }
  .english-time {
    font-size: 2.25rem;
  }
  .nepali-time {
    font-size: 2rem;
  }
  .nepali-date-time,
  .english-date-time {
    max-width: 25ch;
  }
  .row1 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 420px) {
  html {
    font-size: 20px;
  }
  .powered-by {
    flex-direction: column;
    align-items: center;
  }
  .powered-by .dark-sky {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .powered-by {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  .weather-box {
    justify-content: center;
    font-size: 30px;
  }
  .weather-summary {
    font-size: 2.5rem;
  }
  .weather-alert {
    font-size: 1.5rem;
  }
  .temp,
  .temp-type {
    font-size: 4.75rem;
  }
}
