* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: #afafaf;
  text-shadow: 0 0 25px black;
}
a {
  color: #888;
  text-shadow: 0 0 25px black;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
}
.date-box {
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  -webkit-animation-name: introduction;
  animation-name: introduction;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.english-date,
.nepali-date {
  font-size: 1.75rem;
  letter-spacing: 2px;
}
.english-time,
.nepali-time {
  font-size: 4.25rem;
  letter-spacing: 2.5px;
}
.english-date {
  padding-top: 5px;
}
.align-right {
  text-align: right;
}
.weather-box {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  -webkit-animation-name: introduction;
  animation-name: introduction;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.weather-box hr {
  max-width: 900px;
  min-width: 80%;
  border-top-width: 2px solid white;
}
.row1 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}
.weather-summary {
  font-size: 1.75rem;
}

.weather-icon {
  width: 100px;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.row2:hover .temp {
  color: #41a5cf;
}
.row2:hover .temp-type {
  color: white;
}
.temp {
  font-size: 2.6rem;
  cursor: pointer;
  pointer-events: auto;
  transition: color 1s;
}
.temp-type {
  color: #3eb9e6;
  font-size: 2.6rem;
  cursor: pointer;
  transition: color 1s;
}
.weather-alert,
.error {
  text-align: center;
  text-transform: capitalize;
  font-size: 0.75rem;
  margin-top: 15px;
}
.weather-days {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 0.7rem;
  width: 50%;
}
.powered-by {
  padding: 10px;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.powered-by a {
  text-decoration: none;
}
@-webkit-keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .align-right,
  .align-center-tab {
    text-align: center;
  }
  .date-box {
    flex-direction: column;
    align-items: center;
  }
  .row1 {
    width: 90%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1230px) and (max-width: 1455px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1230px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 25px;
    line-height: 1.5;
  }
  .weather-box > *:not(hr) {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row1 {
    padding-top: 20px;
    width: 80%;
    flex-direction: column-reverse;
  }
  .row2 {
    margin-top: 20px;
  }
  .row1 .weather-summary {
    padding-top: 10px;
    text-align: center;
  }
  .english-time {
    font-size: 2.25rem;
  }
  .nepali-time {
    font-size: 2rem;
  }
  .nepali-date-time,
  .english-date-time {
    max-width: 25ch;
  }
  .weather-box .powered-by {
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 20px;
  }
  .nepali-date-time,
  .english-date-time {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .english-date,
  .nepali-date {
    font-size: 1rem;
  }
  .nepali-time,
  .english-time {
    font-size: 1.5rem;
  }
  .row2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .powered-by {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  .weather-box {
    justify-content: center;
    font-size: 30px;
  }
  .weather-summary {
    font-size: 2.5rem;
  }
  .weather-alert {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }
  .temp,
  .temp-type {
    font-size: 4.75rem;
  }
}
