* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(5, 103, 117);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(5, 103, 117, 1)),
    color-stop(80%, rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    0deg,
    rgba(5, 103, 117, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#056775",endColorstr="#000000",GradientType=1);
backgrounds:#000;
}
.date-box {
  width: 100%;
  padding: 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-animation-name: introduction;
  animation-name: introduction;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.english-date,
.nepali-date {
  color: white;
  font-size: 1.75rem;
  letter-spacing: 2px;
}
.english-time,
.nepali-time {
  color: white;
  font-size: 4.25rem;
  letter-spacing: 2.5px;
}
.english-date {
  padding-top: 5px;
}
.align-right {
  text-align: right;
}
.text-shadow {
  text-shadow: 0 0 25px black;
}
.weather-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-animation-name: introduction;
  animation-name: introduction;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.weather-box hr {
  max-width: 900px;
  min-width: 80%;
  border-top-width: 2px solid white;
}
.row1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* border-bottom: 1px solid white; */
  padding-bottom: 15px;
}
.weather-summary {
  color: white;
  font-size: 1.75rem;
}

.weather-icon {
  width: 100px;
}
.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}
.row2:hover .temp {
  color: #41a5cf;
}
.row2:hover .temp-type {
  color: white;
}
.temp {
  color: white;
  font-size: 2.6rem;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.temp-type {
  color: #3eb9e6;
  font-size: 2.6rem;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.weather-alert {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 0.75rem;
  margin-top: 15px;
}
.weather-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 50px;
  color: white;
  font-size: 0.7rem;
  width: 50%;
}
.powered-by {
  color: white;
  padding: 10px;
  font-size: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.powered-by a {
  text-decoration: none;
  color: white;
}
@-webkit-keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .align-right,
  .align-center-tab {
    text-align: center;
  }
  .date-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .row1 {
    width: 90%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1230px) and (max-width: 1455px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1230px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 25px;
    line-height: 1.5;
  }
  .weather-box > *:not(hr) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .row1 {
    padding-top: 20px;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .row2 {
    margin-top: 20px;
  }
  .row1 .weather-summary {
    padding-top: 10px;
    text-align: center;
  }
  .english-time {
    font-size: 2.25rem;
  }
  .nepali-time {
    font-size: 2rem;
  }
  .nepali-date-time,
  .english-date-time {
    max-width: 25ch;
  }
  .weather-box .powered-by {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 20px;
  }

  .powered-by .dark-sky {
    padding-top: 10px;
  }
  .nepali-date-time,
  .english-date-time {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .english-date,
  .nepali-date {
    font-size: 1rem;
  }
  .nepali-time,
  .english-time {
    font-size: 1.5rem;
  }
  .row2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .powered-by {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  .weather-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 30px;
  }
  .weather-summary {
    font-size: 2.5rem;
  }
  .weather-alert {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }
  .temp,
  .temp-type {
    font-size: 4.75rem;
  }
}
